@model project.Models.CATEGORY

@{
    ViewBag.Title = "Addcategory";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2 style="margin-left:34%;font-family:Arial Rounded MT;color:red">Add category</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CATEGORY_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.CATEGORY_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CATEGORY_NAME, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Category" style="width:59%" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<br />

<div style="overflow:scroll">
    <table class="table table-responsive">

        <thead>

            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category Code</th>
                <th>View all Questions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["list"] as List<project.Models.CATEGORY>)
            {
                <tr>
                    <td>@item.CATEGORY_ID</td>
                    <td>@item.CATEGORY_NAME</td>
                    <td>@item.CATEGORY_ENC_STRING</td>
                    <td><a class="btn btn-info btn-sm" href="@Url.Action("ViewAllQuestions",new { id =@item.CATEGORY_ID})">View Question of This Exam</a></td>
                </tr>
            }


        </tbody>
    </table>

</div>
